/* ============================================
  RESET
  ============================================ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
}